/* reset css styles */

@import "modern-normalize.css";

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* custom properties */

:root {
  --ff: "Inter", sans-serif;
  --transition: 0.12s ease-in-out;
  --bg-dark: oklch(0.92 0.005 283);
  --bg: oklch(0.96 0.005 283);
  --bg-light: oklch(1 0.005 283);
  --text: oklch(0.15 0.01 283);
  --text-muted: oklch(0.4 0.01 283);
  --highlight: oklch(1 0.01 283);
  --border: oklch(0.6 0.01 283);
  --border-muted: oklch(0.7 0.01 283);
  --primary: oklch(0.4 0.1 283);
  --shadow-s: inset 0 1px 2px #ffffff30, /* top highlight */ 0 1px 2px #00000030,
    /* dark shadow */ 0 2px 4px #00000015;
  /* soft shadow */
  --shadow-m: inset 0 1px 2px #ffffff50, /* top highlight */ 0 2px 4px #00000030,
    /* dark shadow */ 0 4px 8px #00000015;
  /* soft shadow */
  --shadow-l: inset 0 1px 2px #ffffff70, /* top highlight */ 0 4px 6px #00000030,
    /* dark shadow */ 0 6px 10px #00000015;
  /* soft shadow */
}

/* center page */

html {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* calculator layout */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0.75rem;
  grid-auto-flow: row;
  grid-template-areas:
    "btn-sound btn-negation btn-ac btn-c"
    "btn-7 btn-8 btn-9 btn-divide"
    "btn-4 btn-5 btn-6 btn-multiply"
    "btn-1 btn-2 btn-3 btn-subtract"
    "btn-0 btn-decimal btn-equals btn-add";
}

.btn-sound {
  grid-area: btn-sound;
}

.btn-negation {
  grid-area: btn-negation;
}

.btn-ac {
  grid-area: btn-ac;
}

.btn-c {
  grid-area: btn-c;
}

.btn-divide {
  grid-area: btn-divide;
}

.btn-multiply {
  grid-area: btn-multiply;
}

.btn-subtract {
  grid-area: btn-subtract;
}

.btn-add {
  grid-area: btn-add;
}

.btn-equals {
  grid-area: btn-equals;
}

.btn-decimal {
  grid-area: btn-decimal;
}

.btn-0 {
  grid-area: btn-0;
}

.btn-1 {
  grid-area: btn-1;
}

.btn-2 {
  grid-area: btn-2;
}

.btn-3 {
  grid-area: btn-3;
}

.btn-4 {
  grid-area: btn-4;
}

.btn-5 {
  grid-area: btn-5;
}

.btn-6 {
  grid-area: btn-6;
}

.btn-7 {
  grid-area: btn-7;
}

.btn-8 {
  grid-area: btn-8;
}

.btn-9 {
  grid-area: btn-9;
}

/* styling */

/* 
  font-size: rem
  width: % in combination with a max-width; ch for exact text width
  height: question urself "do i rly need to set height" if yes -> use a min-height
  padding/margin: rem or em; use em for padding of buttons to adjust to rem font size
*/

body {
  background-color: var(--bg-dark);
}

main {
  background-color: var(--bg);
  border-radius: 1rem;
  padding: 2rem;
}
.calc-display {
  display: flex;
  font-family: var(--ff);
  flex-direction: column;
  font-size: 3rem;
  width: 100%;
  text-align: right;
  line-height: 2.5ch;
  border-radius: 1rem;
}

.calc-display > .operator {
  font-size: 1rem;
  line-height: 2ch;
}

.operator-display {
  font-size: 1rem;
}

button {
  cursor: pointer;
  font-family: var(--ff);
  font-size: 3.5rem;
  border-radius: 1rem;
  background-color: var(--bg);
  box-shadow: var(--shadow-m);
  border: none;
  padding: 0;
}

