/* reset css styles */

@import "modern-normalize.css";

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* custom properties */

:root {
  --ff: "Nunito", sans-serif;
  --transition: 0.12s ease-in-out;
  --bg-dark: oklch(0.92 0.005 245);
  --bg: oklch(0.96 0.005 245);
  --bg-light: oklch(1 0.005 245);
  --text: oklch(0.15 0.01 245);
  --text-muted: oklch(0.4 0.01 245);
  --highlight: oklch(1 0.01 245);
  --border: oklch(0.6 0.01 245);
  --border-muted: oklch(0.7 0.01 245);
  --shadow-s: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030,
    /* dark shadow */ 0 2px 4px #00000015;
  /* soft shadow */
  --shadow-m: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030,
    0 4px 8px #00000015;

  --shadow-l: inset 0 1px 2px #ffffff70, 0 4px 6px #00000030,
    0 6px 10px #00000015;
  /* soft shadow */
  --concave: inset 6px 6px 12px #bebebe, inset -6px -6px 12px #ffffff70;
  --border-calc: solid 1px var(--bg);
}

/* center page */

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* calculator layout */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0.75rem;
  grid-auto-flow: row;
  grid-template-areas:
    "btn-ac btn-ac btn-c btn-c"
    "btn-7 btn-8 btn-9 btn-divide"
    "btn-4 btn-5 btn-6 btn-multiply"
    "btn-1 btn-2 btn-3 btn-subtract"
    "btn-0 btn-decimal btn-equals btn-add";
}

.btn-ac {
  grid-area: btn-ac;
}

.btn-c {
  grid-area: btn-c;
}

.btn-divide {
  grid-area: btn-divide;
}

.btn-multiply {
  grid-area: btn-multiply;
}

.btn-subtract {
  grid-area: btn-subtract;
}

.btn-add {
  grid-area: btn-add;
}

.btn-equals {
  grid-area: btn-equals;
}

.btn-decimal {
  grid-area: btn-decimal;
}

.btn-0 {
  grid-area: btn-0;
}

.btn-1 {
  grid-area: btn-1;
}

.btn-2 {
  grid-area: btn-2;
}

.btn-3 {
  grid-area: btn-3;
}

.btn-4 {
  grid-area: btn-4;
}

.btn-5 {
  grid-area: btn-5;
}

.btn-6 {
  grid-area: btn-6;
}

.btn-7 {
  grid-area: btn-7;
}

.btn-8 {
  grid-area: btn-8;
}

.btn-9 {
  grid-area: btn-9;
}

/* styling */

/* 
  font-size: rem
  width: % in combination with a max-width; ch for exact text width
  height: question urself "do i rly need to set height" if yes -> use a min-height
  padding/margin: rem or em; use em for padding of buttons to adjust to rem font size
*/

body {
  background-color: var(--bg-dark);
}

main {
  background-color: var(--bg);
  border-radius: 1.85rem;
  padding: 1.85rem;
  box-shadow: var(--shadow-m);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: var(--border-calc);
  border-top: solid 2px var(--highlight);
}

.calc-display-container {
  padding: 0.75rem;
  background-color: var(--bg-light);
  border-radius: 1rem;
  box-shadow: var(--shadow-s);
  border: var(--border-calc);
  border-top: solid 2px var(--highlight);
}

.calc-display {
  display: flex;
  font-family: var(--ff);
  flex-direction: column;
  width: 100%;
  text-align: right;
  border-radius: 1rem;
  background-color: var(--bg);
  padding: 1.85rem;
  box-shadow: var(--concave);
  gap: 0.5rem;
}

.operator-container {
  font-size: 1.5rem;
  line-height: 2ch;
  font-weight: 300;
}

.result-container {
  font-size: 3.25rem;
  line-height: 2ch;
  font-weight: 600;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: var(--ff);
  font-size: 2.5rem;
  border-radius: 1rem;
  background-color: var(--bg-light);
  box-shadow: var(--shadow-s);
  padding: 1.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: var(--border-calc);
  border-top: solid 2px var(--highlight);
  transition: var(--transition);
  font-weight: 300;
}

button:hover {
  box-shadow: var(--shadow-m);
  background-color: var(--bg);
}

button:active {
  transform: scale(0.95);
}

.footer {
  display: flex;
  place-items: center;
  justify-content: center;
  padding-top: 1rem;
  font-family: var(--ff);
}

.github-mark {
  max-width: 2rem;
  transition: var(--transition);
  margin-left: 0.5rem;
}

.github-mark:hover {
  transform: scale(1.1);
}
