/* reset css styles */

@import "modern-normalize";

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* custom properties */



/* center page */

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* calculator layout */

.calc-display {
    text-align: right;
}

.grid {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "calc-display calc-display calc-display calc-display"
    "btn-sound btn-negation btn-ac btn-c"
    "btn-7 btn-8 btn-9 btn-divide"
    "btn-4 btn-5 btn-6 btn-multiply"
    "btn-1 btn-2 btn-3 btn-subtract"
    "btn-0 btn-decimal btn-equals btn-add";
}

.calc-display { grid-area: calc-display; }

.btn-sound { grid-area: btn-sound; }

.btn-negation { grid-area: btn-negation; }

.btn-ac { grid-area: btn-ac; }

.btn-c { grid-area: btn-c; }

.btn-divide { grid-area: btn-divide; }

.btn-multiply { grid-area: btn-multiply; }

.btn-subtract { grid-area: btn-subtract; }

.btn-add { grid-area: btn-add; }

.btn-equals { grid-area: btn-equals; }

.btn-decimal { grid-area: btn-decimal; }

.btn-0 { grid-area: btn-0; }

.btn-1 { grid-area: btn-1; }

.btn-2 { grid-area: btn-2; }

.btn-3 { grid-area: btn-3; }

.btn-4 { grid-area: btn-4; }

.btn-5 { grid-area: btn-5; }

.btn-6 { grid-area: btn-6; }

.btn-7 { grid-area: btn-7; }

.btn-8 { grid-area: btn-8; }

.btn-9 { grid-area: btn-9; }
